@import 'src/variables';

.footerBottom {
  background: $color-accent;
  padding: 5rem 0 2rem 0;
  line-height: 22px;

  .footerBottomContent {
    max-width: $container-width;
    margin: 0 auto;
    color: $color-white;

    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: $card-gap;

    .contentBottomContacts {
      display: grid;
      grid-template-columns: repeat(2, 200px);
      grid-gap: $card-gap;
      height: fit-content;

      div {
        h5,
        p {
          margin: 0;
        }
        h5 {
          color: $color-surface-inverse;
          font-weight: 400;
        }
      }
    }

    .footerBottomMap {
      max-width: 300px;

      h5 {
        margin-top: 0;
      }

      .footerMap {
        border-radius: 50%;
        width: 260px;
        height: 260px;
        overflow: hidden;
      }
    }

    .footerBottomMediaBlock {
      display: flex;
      flex-direction: column;
      align-items: center;

      .linkBtn {
        background: $color-accent-brand-primary;
        padding: $button-padding;
        border-radius: 28px;
        text-decoration: none;
        color: #ffffff;
      }

      .footerBottomSocials {
        margin-top: 1rem;
        display: flex;
        gap: 1rem;
      }
    }
  }
}

@media screen and (max-width: $max-mobile-width) {
  .footerBottom {
    padding: 2rem 0;

    .footerBottomContent {
      width: $container-mobile-width;
      grid-template-columns: 1fr;

      .contentBottomContacts {
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
      }

      .footerBottomMap {
        @include flex-centered;
        margin: 0 auto;
        flex-direction: column;
      }

      .footerBottomMediaBlock {
        .footerBottomSocials {
          width: fit-content;
          margin: 1rem auto;
          display: flex;
          gap: 12px;
        }
      }
    }
  }

  .footerBottomDescription {
    width: $container-mobile-width;
  }
}
