@import 'src/variables';

.headerContainer {
  width: 100%;
  background-color: $color-white;
  position: sticky;
  top: 0;
  left: 0;
  z-index: $zIndex-header;
  height: $header-height;

  .nav {
    max-width: $max-header-width;
    height: 100%;
    margin: 0 auto;
    gap: 1rem;
    @include flex-space-centered;
    padding: 0 1rem;

    .logo {
      height: 64px;
    }
  }
}

.dropDownMenuContainer {
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  left: 0;
  top: $header-height;
}

.menuListContainer {
  display: flex;
  height: 100%;

  .menuItem {
    font-weight: $font-weight-secondary;

    padding: 0 12px;
    .menuItemBox {
      padding-top: $border-width;
      @include flex-centered;
      border-radius: 4px;
      height: 100%;
      border-bottom: $border-width solid rgba(0, 0, 0, 0);

      .menuLink {
        text-decoration: none;
        color: $color-black;
      }

      &:hover {
        border-color: $color-primary;
      }
    }
  }
}

.menuMobileBtn {
  display: none;
}

.menuItem:hover .dropDownMenuContainer {
  width: 100%;
  visibility: visible;
  opacity: 1;
  cursor: default;
}

@media screen and (max-width: $max-mobile-width) {
  .langContainer {
    display: none;
  }

  .menuMobileBtn {
    display: block;
  }

  .menuListContainer {
    display: none;
  }
}
