@import 'src/variables';

.dropDownLanguage {
  @include flex-centered;
  gap: 1rem;

  button {
    font-weight: $font-weight-secondary;
    display: flex;
    gap: 8px;

    .languageIconBox {
      width: 40px;
      height: 40px;
      padding: 12px;
      border-radius: 50%;
      background-color: $color-surface-inverse;
      @include flex-centered;
    }
  }

  .searchIconBox {
    width: 48px;
    height: 48px;
    cursor: pointer;
    padding: 12px;

    &:hover {
      border-radius: 50%;
      background-color: $color-surface-inverse;
    }
  }
}
