@import 'src/variables';

.content {
  width: $container-width;
  margin: 3rem auto;
}

.info {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;

  h5 {
    font-weight: $font-weight-secondary;
  }
  p {
    color: $color-content-tertiary;
  }

  div {
    overflow: hidden;
  }

  button {
    background: $color-surface-inverse;
    border-radius: 2rem;
    font-weight: $font-weight-secondary;
    padding: 0.5rem 1rem;
    width: fit-content;
  }
}

.dot{
  margin: 0 4px;
}

@media screen and (max-width: $max-mobile-width) {
  .content {
    width: $container-mobile-width;
  }

  .info {
    display: grid;
    grid-template-columns: auto 1fr auto;

    h5 {
      font-size: 1rem;
    }
  }
}
