@import 'src/variables';

.imageBox {
  width: 260px;
  height: 260px;
  border-radius: 6px;
  overflow: hidden;
  @include flex-centered;

  img {
    height: 100%;
    min-width: 264px;
  }
}

@media screen and (max-width: $max-mobile-width) {
  .imageBox {
    width: 156px;
    height: 156px;

    img {
      min-width: 156px;
    }
  }
}
