@import 'src/variables';

.landing {
  height: calc(100vh - $header-height);
  background-color: $color-surface-inverse;
  position: relative;
}
.title {
  font-family: $text-font-family-bold;
  font-size: 40px;
}

.content {
  @include container;
  padding: 3rem 0;
}
.directionName {
  font-family: $text-font-family-bold;
}

.info {
  max-width: 32rem;
}

.img {
  width: 25rem;
  height: 25rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 2rem;
}

.link {
  padding: $button-padding;
  background-color: $color-primary;
  text-decoration: none;
  color: #ffffff;
  border-radius: 28px;
}

@media screen and (max-width: $max-mobile-width) {
  .landing {
    height: auto;
    width: 100%;
  }
  .title {
    font-family: $text-font-family-bold;
    font-size: 24px;
  }

  .content {
    @include container;
    padding: 1rem;
  }
  .info {
    .directionName {
      font-family: $text-font-family-bold;
      font-size: 2rem;
    }
  }

  .img {
    display: none;
  }
}
