@import 'src/variables';

.serviceCardContainer {
  padding: 16px;

  &:hover {
    cursor: pointer;
  }
}
.serviceCardContainer:hover {
  box-shadow: 0 4px 8px 2px rgba(49, 58, 65, 0.06), 0 2px 4px 1px rgba(49, 58, 65, 0.08),
    0 1px 2px rgba(49, 58, 65, 0.1);
}

.serviceCardContent {
  display: flex;
  gap: 1rem;
}
.serviceCardTitle {
  font-weight: $font-weight-secondary;
  margin-top: 0;
  margin-bottom: 8px;
}

.serviceCardLink {
  color: $color-primary;
  font-weight: $font-weight-secondary;
  display: flex;
  align-items: center;
  margin-top: 26px;
}

.serviceCardIcon {
  div {
    background: $color-primary;
    color: $color-white;
    border-radius: 50%;
    width: fit-content;

    svg {
      font-size: 3rem;
    }
  }
}
