@import 'src/variables';

.card {
  padding: 24px;
  background-color: $color-white;
  border-radius: 16px;

  &:hover {
    box-shadow:
      0 8px 16px 4px rgba(49, 58, 65, 0.05),
      0 4px 8px 2px rgba(49, 58, 65, 0.06),
      0 2px 4px 1px rgba(49, 58, 65, 0.08);
    cursor: pointer;
  }
}

.cardContentTitle {
  font-size: 18px;
}

@media screen and (max-width: $max-mobile-width) {
  .card {
    max-width: 160px;
    padding: 12px;
  }

  .cardContentTitle {
    font-size: 14px;
  }
}
