@import 'src/variables';

.factsContainer {
  padding: 3rem 0;

  .factsContent {
    max-width: $container-width;
    margin: 0 auto;

    .factsInfoBox {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: $card-gap;

      .factsInfoText p {
        margin-top: 0;
        font-weight: $font-weight-normal;
        line-height: 24px;
      }

      .factsStatistics {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-gap: $card-gap;

        div span {
          font-family: $text-font-family-bold;
          color: $color-accent-brand-primary;
          font-weight: $font-weight-primary;
          font-size: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: $max-mobile-width) {
  .factsContainer {
    padding: 2rem 0;

    .factsContent {
      width: $container-mobile-width;

      .factsInfoBox {
        grid-template-columns: 1fr;

        .factsStatistics {
          div span {
            font-size: 24px;
          }
        }
      }
    }
  }
}
