@import 'src/variables';

.container {
  width: 100%;
  background: $color-surface-inverse;
  padding-bottom: 3rem;
}

.content {
  width: $container-width;
  margin: 0 auto;
}

.serviceCardWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: $card-gap;
}

.serviceLink {
  margin-top: 2rem;

  div {
    color: $color-primary;
    font-weight: $font-weight-secondary;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      @include text-underline;
    }
  }
}

.serviceCardMoreBox {
  display: none;
}

@media screen and (max-width: $max-mobile-width) {
  .content {
    width: $container-mobile-width;
  }

  .serviceCardWrapper {
    grid-template-columns: 1fr;
    grid-gap: $card-gap;
  }

  .serviceLink {
    display: none;
  }
  .serviceCardMoreBox {
    @include flex-centered;
    padding: 1rem 0;

    button {
      background: #fff;
      font-weight: $font-weight-secondary;
      padding: 12px 0;
      width: 100%;
      border: none;
      font-family: $text-font-family-regular;
      border-radius: 24px;
      font-size: 15px;
    }
  }
}
