@import 'src/variables';

.searchBox {
  background: $color-surface-inverse;
  @include flex-centered;
  padding: 1rem;

  div {
    background: $color-white;
    color: $color-content-quaternary;
  }

  button {
    margin-left: 6px;
    background: $color-white;
  }
}

.link {
  font-weight: $font-weight-normal;
  font-size: 14px;
}

.languages {
  padding: 0.5rem;
  display: flex;
  gap: 0.6rem;
  font-weight: $font-weight-secondary;
  font-family: $text-font-family-regular;
  align-items: center;
}

.menuDrawerNavbar {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;

  .menuLink {
    text-decoration: none;
    color: $color-black;
    font-weight: 600;
    font-size: 1rem;
  }
}
//.contacts {
//  padding: 1rem;
//  font-family: $text-font-family-regular;
//
//  p {
//    font-weight: $font-weight-secondary;
//    margin-top: 0;
//  }
//}
