@import 'src/variables';

.videoBox {
  width: 350px;
  height: 200px;

  iframe {
    border-radius: 10px;
    border: none;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: $max-mobile-width) {
  .videoBox {
    width: 320px;
    height: 180px;
    background-color: #8d9eb1;
    pointer-events: none;
  }
}
