@import 'src/variables';

.eventsCardTitle {
  font-weight: $font-weight-secondary;
  color: $color-content-primary;
}

.eventsCardDateBox {
  @include flex-centered;
  flex-direction: column;

  h1 {
    margin: 0;
    color: $color-primary;
  }
  h5 {
    margin: 0 0 5px;
  }
}

.eventsCardTextBox {
  h3 {
    margin-top: 0;
    padding: 0 8px 8px;
    border-left: 1px solid $background-divider;
    margin-bottom: 0;
    font-size: 1rem;
  }
  p {
    padding: 0 8px;
  }
  .eventsCardDescriptionDot {
    margin: 0 4px;
  }

  &:hover {
    h3 {
      color: $color-primary;
      cursor: pointer;
    }
  }
}

.eventsCardDescription {
  color: $color-content-tertiary;
}
