@import 'src/variables';

.container {
  width: 100%;
}

.content {
  width: $container-width;
  margin: 3rem auto;
}

.newsCardWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: $card-gap;
}

.newsLink {
  margin-top: 2rem;

  div {
    color: $color-primary;
    font-weight: $font-weight-secondary;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      @include text-underline;
    }
  }
}

@media screen and (max-width: $max-mobile-width) {
  .content {
    width: $container-mobile-width;
    margin: 1rem auto;
  }
  .newsCardWrapper {
    grid-template-columns: 1fr;
  }
}
