@import 'src/variables';

* {
  box-sizing: border-box;
  font-family: $text-font-family-regular;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 16px;
}

.app_container {
  position: relative;
}
