@import 'src/variables';

.container {
  @include container;
  padding: 2rem 0 3rem;
}

.contactBox {
  width: 15.5rem;
}

.socials {
  a {
    @include flex-centered;
    padding: 0.5rem;
    border: 1px solid $color-surface-inverse;
    border-radius: 50%;
    img {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

@media screen and (max-width: $max-mobile-width) {
  .container {
    max-width: $container-mobile-width;
  }
}
