@import 'src/variables';

.universitiesContainer {
  width: 100%;
  background: $color-surface-inverse;
  padding: 4rem 0;

  .universitiesContent {
    width: $container-width;
    margin: 0 auto;

    .universitiesCardsWrapper {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: $card-gap;
    }

    .universitiesCardsCarouselWrapper {
      display: none;
    }
  }
}

@media screen and (max-width: $max-mobile-width) {
  .universitiesContainer {
    padding: 2rem 0;

    .universitiesContent {
      width: $container-mobile-width;

      .universitiesCardsWrapper {
        display: none;
      }

      .universitiesCardsCarouselWrapper {
        display: block;
      }
    }
  }
}
