@import 'src/variables';

.newsCardTitle {
  font-weight: $font-weight-secondary;
}

.newsCardWrapper {
  display: block;
  text-decoration: none;
}

.newsCardWrapper:hover .newsCardTitle {
  color: $color-primary;
}
.newsCardWrapper:hover .newsCardImage {
  transform: scale(1.1);
}

.newsCardImageBox {
  width: 100%;
  height: 216px;
  overflow: hidden;
  border-radius: $card-border-radius;
  border: 1px solid $color-surface-inverse;
}

.newsCardImage {
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-in-out;
  object-fit: cover;
}
.newsCardText {
  padding-top: 1rem;
}

.newsCardTitle {
  height: 75px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  color: $color-content-primary;
}

@media screen and (max-width: $max-mobile-width) {
  .newsCardWrapper {
    display: grid;
    grid-template-columns: 2.2fr 3fr;
    grid-gap: 1rem;
  }
  .newsCardImageBox {
    width: 100%;
    height: 100px;
  }

  .newsCardText {
    padding-top: 0;
  }
}
