@import 'src/variables';

.container {
  width: 100%;
  height: calc(100vh - $header-height);
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
  }
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
    z-index: 11;
  }
}

.image {
  width: 100%;
  min-height: calc(100vh - $header-height);
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
  object-fit: cover;
}

.contentContainer {
  bottom: 3rem;
  position: absolute;
  z-index: 100;
  width: $container-width;
  left: 50%;
  transform: translateX(-50%);
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.swiperBottomContentContainer {
  @include flex-space-centered;
}

.textBox {
  color: $color-content-quaternary;
  height: 50px;
  padding: $border-width 0;

  button {
    @include flex-centered;
    height: 100%;
    font-weight: $font-weight-secondary;
    cursor: pointer;
    &:hover {
      color: $color-white;
    }
  }
}

.activeIndex {
  padding-top: 0;
  border-top: $border-width solid $color-white;
  button {
    color: $color-white;
  }
}

.swiperNavigation {
  button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.85);
    @include flex-centered;
    &:hover {
      background: rgba(255, 255, 255, 0.35);
    }
  }
}

@media screen and (max-width: $max-mobile-width) {
  .container {
    height: auto;
  }

  .image {
    min-height: 350px;
  }
  .contentContainer {
    bottom: 0;
    width: 100%;
    left: 0;
    transform: none;
    height: 100%;
  }

  .swiperNavigation {
    display: none;
  }

  .swiperBottomContentContainer {
    display: block;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .swiperBottomContent {
    margin: 0 12px;
  }
}
