@import 'src/variables';

.programsContainer {
  width: 100%;
  background: $color-surface-inverse;
  padding: 4rem 0;

  .programsContent {
    max-width: $container-width;
    margin: 0 auto;

    .programsCardsWrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
      gap: $card-gap;
    }

    .moreBtn {
      display: none;
    }
  }
}

@media screen and (max-width: $max-mobile-width) {
  .programsContainer {
    padding: 2rem 0;

    .programsContent {
      width: $container-mobile-width;

      .programsCardsWrapper {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        gap: $card-mobile-gap;
        overflow: hidden;
      }

      .opened {
        height: 490px;
      }

      .closed {
        height: auto;
      }
      .moreBtn {
        display: block;
        padding-top: 0.5rem;
      }
    }
  }
}
