@import 'src/variables';

.presidentContainer {
  .pContent {
    width: $container-width;
    margin: 2rem auto;

    display: grid;
    grid-template-columns: 50% 40%;
    grid-gap: 6rem;
    justify-content: space-between;

    .leftSide {
      color: $color-content-primary;
      line-height: 24px;
      h1 {
        font-family: $text-font-family-bold;
        font-weight: $font-weight-primary;
        font-size: 48px;
      }

      .pThesis {
        display: flex;
        gap: 0.5rem;
        margin: 2rem 0;

        .point {
          width: 4rem;
          img {
            width: 100%;
          }
        }

        .text {
          h3 {
            margin: 0;
          }
        }
      }
      .pConclusion {
        display: grid;
        grid-template-columns: 1fr 180px;
        justify-content: space-between;

        .pSignature {
          img {
            width: 100%;
          }
        }
      }
    }

    .rightSide {
      img {
        width: 100%;
        position: sticky;
        top: calc($header-height);
      }
    }
  }
}

@media screen and (max-width: $max-mobile-width) {
  .presidentContainer {
    .pContent {
      width: $container-mobile-width;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 0;

      .leftSide {
        h1 {
          font-size: 1.5rem;
        }
      }

      .rightSide {
        img {
          width: 100%;
          position: static;
        }
      }
    }
  }
}
