@import 'src/variables';

.container {
  color: $color-white;
  max-width: 30rem;

  h1 {
    margin: 0;
    font-size: 3.6rem;
    font-weight: $font-weight-primary;
    font-family: $text-font-family-bold;
  }

  p {
    font-weight: $font-weight-normal;
    margin-bottom: 2rem;
    color: $color-surface-inverse;
  }

  a {
    border-radius: 2rem;
    background: $color-primary;
    font-size: 1rem;
    padding: $button-padding;
    color: $color-white;
    text-decoration: none;
  }
}

@media screen and (max-width: $max-mobile-width) {
  .container {
    padding: 1rem;

    h1 {
      font-size: 24px;
    }
  }
}
