@import 'src/variables';

.container {
  position: relative;
  background-color: #ffffff;

  &::after {
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100vh - $header-height);
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    pointer-events: none;
    content: '';
    top: 100%;
    z-index: -1;
  }
}

.content {
  width: fit-content;
  margin: 0 auto;
  padding: 12px 0 40px;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link a {
  color: black;
  text-decoration: none;
  font-weight: $font-weight-secondary;

  &:hover {
    color: $color-primary;
  }
}
