//colors
$color-black: #000000;
$color-primary: #4267d7;
$color-red: #ff0000;
$color-accent: #204080;
$color-accent-brand-primary: #5070ee;
$color-content-primary: #0a2540;
$color-content-secondary: #425466;
$color-content-tertiary: #5f768e;
$color-content-quaternary: #8d9eb1;
$color-white: #ffffff;
$color-surface-inverse: #f0f4f9;
$background-divider: rgba(0, 0, 0, 0.12);
$background-gradient: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
$background-global: #1e1e1e;
$button-padding: 12px 24px;

//sizes
$font-weight-primary: 700;
$font-weight-secondary: 600;
$font-weight-regular: 500;
$font-weight-normal: 400;
$container-width: 1080px;
$container-mobile-width: 96%;
$card-border-radius: 16px;
$card-gap: 24px;
$card-mobile-gap: 12px;
$card-mobile-gap: 1rem;
$header-height: 5rem;
$max-mobile-width: 500px;
$max-ipad-width: 768px;
$max-header-width: 1224px;
$border-width: 4px;
$zIndex-header: 1000;

//font-families
$text-font-family-regular: 'Instrument Sans';
$text-font-family-bold: 'Instrument Sans-Bold';

//text styles

@mixin text-caption {
  font-family: $text-font-family-regular;
  font-style: normal;
  font-weight: $font-weight-regular;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.12px;
  text-transform: uppercase;
}

@mixin text-headline-display {
  font-family: $text-font-family-bold;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0.12px;
}

@mixin text-headline-primary {
  font-family: $text-font-family-bold;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -0.08px;
}

@mixin text-headline-quaternary {
  font-family: $text-font-family-regular;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08px;
}

@mixin text-underline {
  text-decoration: underline;
  text-decoration-color: $color-primary;
  text-decoration-thickness: 2px;
}

//mixins for displaying
@mixin flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-space-centered {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin container {
  max-width: $container-width;
  margin: 0 auto;
}

@font-face {
  font-family: $text-font-family-regular;
  src: url('static/fonts/InstrumentSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: $text-font-family-bold;
  src: url('static/fonts/InstrumentSans-Bold.ttf') format('truetype');
}
