@import 'src/variables';

.container {
  width: 100%;
  position: relative;
  margin-top: 2rem;
}

.map {
  width: 100%;
  height: 500px;
}

.floatBox {
  position: absolute;
  z-index: 10;
  bottom: 0.2rem;
  left: 0.2rem;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
}

@media screen and (max-width: $max-mobile-width) {
  .map {
    height: 220px;
  }

  .floatBox {
    position: static;
    background-color: $color-surface-inverse;
    margin-top: 1rem;
  }
}
