@import 'src/variables';

.footerTop {
  background: $color-surface-inverse;
  padding: 5rem 0;

  .footerTopContent {
    width: $container-width;
    margin: 0 auto;
    display: flex;
    gap: $card-gap;
    flex-wrap: wrap;
    justify-content: space-between;

    .footerTopSection {
      display: flex;
      flex-direction: column;
      gap: 12px;

      .sectionTitle {
        font-weight: $font-weight-secondary;
      }
      .sectionLink {
        text-decoration: none;
        color: $color-content-primary;
        font-size: 15px;

        &:hover {
          color: $color-primary;
        }
      }
    }
  }

  .footerTopContentAccordion {
    display: none;
  }
}

@media screen and (max-width: $max-mobile-width) {
  .footerTop {
    .footerTopContent {
      display: none;
    }

    .footerTopContentAccordion {
      display: block;
    }
  }
}
