@import 'src/variables';

.content {
  width: $container-width;
  margin: 1rem auto 6rem;
}

.contentCardsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
}

.contentCard {
  @include flex-centered;
  width: 252px;
  height: 112px;
  border-radius: 8px;
  background: $color-surface-inverse;
  overflow: hidden;

  img {
    max-height: 90px;
    max-width: 230px;
  }
}

@media screen and (max-width: $max-mobile-width) {
  .content {
    width: $container-mobile-width;
    margin: 1rem auto 2rem;
  }
  .contentCardsWrapper {
    justify-content: center;
  }
  .contentCard {
    width: 160px;
    height: 80px;

    img {
      max-height: 66px;
      max-width: 140px;
    }
  }
}
